/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'religious';
  src: url('../fonts/italian.ttf')  format('truetype');
}

html, body { 
	height: 100%;
	font-family: 'religious';
}

.form-group {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
}

.btn-lg, .btn-group-lg>.btn {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-fluid {
	min-height: 100%;
	overflow: hidden;
}

.clicker {
	background-image: url("../images/fond_cut.png");
	background-size: 100%;
	background-repeat: no-repeat;
	border: 8px solid #00608e;
}

.btn-clicker {
  position: absolute;
  width: 30%;
  left: 34%;
  top: 23%;
  cursor: pointer;
}

.btn-clicker:hover {
  width: 31%;
}

.btn-clicker:active {
  width: 30%;
}

[class*="col-"] {

  background-color: #00608e;
  padding: 8px;
  margin-bottom: -1200px;
  padding-bottom: 1200px;
  text-align: center;
}

.compteur {
	background-color: rgba(230,230,230,0.8);
    opacity: 1;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
	text-align: center;

	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 1px 0px white;
	color: black;
	border-radius: 15px;
}

.titre {
  font-size: 36px;
  color: white;
  padding: 25px;
}

.item {
  background-color: rgb(250,250,250);
  border-radius: 8px;
  text-align: left;
  margin-bottom: 2px;
  box-shadow: 3px 3px 12px black;
}

.item:active {
	box-shadow: 3px 3px 12px black inset;
}

.item:hover {
	background-color: rgb(230,230,230);
	cursor: pointer;
}

.icone {
	display: inline-block;
}

.info {
	display: inline-block;
	vertical-align: top;
  	padding: 10px 10px 5px 10px;
}

.nom-item {
	font-size: 24px;
  	font-weight: bold;
}

.prix-item {
  position: relative;
  padding-left: 24px;
  padding-top: 4px;
  font-size: 22px;
  font-weight: bold;
  color: green;
  text-shadow: 0px 1px 0px black;
}

.prix-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  background: url(../images/priereIcone.png);
  width: 16px;
  height: 16px;
}

.nb-item {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  font-weight: bold;
  color: grey;
  padding-top: 15px;
  position: absolute;
  right: 20px;
}

.parametre {
  background-color: #898989;
  border-top: 8px solid #00608e;
  /* contour : #5b5b5b */
}

#div_connexion {
  padding-top: 50%;
  width: 60%;
  margin: auto;
}

#div_inscription {
  padding-top: 50%;
  width: 60%;
  margin: auto;
}

#erreur {
	color: blue;
	margin-bottom: 20px;
	display: block;
}

#message {
	color: white;
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}